.countdown {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-transform: uppercase;
}
.countdown > div {
  display: inline-block;
}
.countdown > div > span {
  display: block;
  text-align: center;
}
.countdown-container {
  margin: 0 10px;
}
.countdown-container .countdown-heading {
  font-size: 11px;
  margin: 3px;
  color: white;
  font-family: "Jost", sans-serif;
  font-weight: 400;
}
.countdown-container .countdown-value {
  font-size: 40px;
  background: #072c50;
  padding: 5px;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
